@model UMC.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home";
}

<head>
    <meta charset="UTF-8">
    <title>Universal Music Collection</title>
    <link rel="stylesheet" href="../../Content/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/bootstrap-custom.css">
    <link rel="stylesheet" href="../../Content/music-player.css">
    <link rel="stylesheet" href="../../Content/music-collection.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Content/jquery-ui.css">
    <script src="../../Scripts/index.js"></script>
    
    <script>
        $(function () {
            $("#addUrlDialog").hide();

            $("#playlist-song-list").sortable({
            
            });
            $("#playlist-song-list").disableSelection();
            $("#draggable").draggable();

            $("#addUrlButton").click(function () {
                $("#addUrlDialog").show();
            });

            $("#closeAddDialogButton").click(function () {
                $("#addUrlDialog").hide();
            });
        });
    </script>
</head>


<body>
    @*<div id="overlay"></div>*@

    <div class="container">
       @{ Html.RenderPartial("_PlaylistPartial", Model.PlaylistVm, new ViewDataDictionary());}
    </div>

<div id="draggable">
    @Html.Partial("_MusicPlayerPartial")
</div>

</body>
